<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>沱江资阳段洪水风险图管理系统后台</title>

    <link rel="stylesheet" href="/3rd/bootstrap/dist/css/bootstrap.min.css"/>

    <link href="/3rd/bootstrap-fileinput/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/3rd/jquery-ui/themes/base/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" href="/3rd/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/3rd/datatables.net-bs/css/dataTables.bootstrap.min.css"/>
    <link rel="stylesheet" href="/3rd/bootstrap3-dialog/dist/css/bootstrap-dialog.min.css"/>
    <link rel="stylesheet" href="/3rd//smalot-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" href="/css/admin.css"/>
    <link rel="stylesheet" href="/3rd/zTree/css/zTreeStyle/zTreeStyle.css" type="text/css">
    <link rel="stylesheet" href="/css/schedule.css">
    <link rel="stylesheet" href="/css/adminDialog.css">
    <style type="text/css">
        .ztree li span.button.add {
            margin-left: 2px;
            margin-right: -1px;
            background-position: -144px 0;
            vertical-align: top;
            *vertical-align: middle
        }
    </style>

    <script type="text/javascript" src="/3rd/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/3rd/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/3rd/datatables.net/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/3rd/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="/3rd/bootstrap-fileinput/js/fileinput.min.js"></script>
    <script type="text/javascript" src="/3rd/bootstrap-fileinput/js/locales/zh.js"></script>
    <script type="text/javascript" src="/3rd/bootstrap3-dialog/dist/js/bootstrap-dialog.min.js"></script>
    <script type="text/javascript" src="/3rd/bootstrap-waitingfor/build/bootstrap-waitingfor.min.js"></script>
    <script type="text/javascript" src="/3rd/jquery-ui/jquery-ui.js"></script>
    <script type="text/javascript" src="/3rd/zTree/js/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="/3rd/zTree/js/jquery.ztree.exhide.js"></script>
    <script type="text/javascript" src="/3rd/zTree/js/jquery.ztree.excheck.js"></script>
    <script type="text/javascript" src="/3rd/zTree/js/jquery.ztree.exedit.js"></script>
    <script src="/3rd/moment/min/moment.min.js"></script>
    <script type="text/javascript"
            src="/3rd/smalot-bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript"
            src="/3rd/smalot-bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script type="text/javascript" src="/js/common/utils.js"></script>
    <script type="text/javascript" src="/js/common/tree.js"></script>
    <script type="text/javascript" src="/js/management/departmentTree.js"></script>
    <script type="text/javascript" src="/js/management/locateSetting.js"></script>
    <script type="text/javascript" src="/js/management/admin.js"></script>
    <script type="text/javascript" src="/3rd/rPhotoClip/js/iscroll-zoom.js"></script>
    <script type="text/javascript" src="/3rd/rPhotoClip/js/hammer.js"></script>
    <script type="text/javascript" src="/3rd/rPhotoClip/js/lrz.all.bundle.js"></script>
    <script type="text/javascript" src="/3rd/rPhotoClip/js/jquery.photoClip.js"></script>


    <script type="text/javascript" src="/js/management/emergePersonSetting.js"></script>
    <script type="text/javascript" src="/js/management/nearbyPersonSetting.js"></script>
</head>
<body style="overflow:auto;">

<!-- 添加/编辑 周围的人用户组织树对话框 -->
<div class="dlgAddUserZtree" id="dlgAddUserZtree">
    <div class="dlgAddUserZtreeMask"></div>
    <div class="dlgAddUserZtreeBox">
        <div class="dlgAddUserZtreeBoxC">
            <strong class="digTile"><i class="closeUserDig" onclick="closedigUser()"></i>选择查看周围的人</strong>
            <form id="dlgUserZtreeForm">
                <div id="userErrMsg" class="alert alert-warning hidden"></div>
                <div id="userLocOrganization" class="user_organization_tree"
                     style="background-color: white">
                    <div class="organization_tree_tittle">
                        组织机构图
                    </div>
                    <input id="sLocSearch2" type="text" value="搜索"
                           onfocus="javascript:if(this.value=='搜索')this.value='';"
                           onblur="javascript:if(this.value=='')this.value='搜索';"
                           onkeyup="searchInLocTree2('sLocSearch2')" class="form-control input-sm">

                    <div id="orgNearbyUserTree" class="ztree"></div>
                </div>
                <div class="selectBox">
                    <h1>当前已选中的人</h1>
                    <div id="userNearbySelected" class="selectedUserStaff"></div>
                </div>

            </form>
        </div>
        <div class="digUserFooter">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closedigUser()">取消
            </button>
            <button type="button" id="btnUserZtreeSave" onclick="saveNearbyUser()" class="btn btn-primary">确定
            </button>
        </div>
    </div>
</div>
<!-- 添加/编辑 紧急呼叫用户组织树对话框 -->
<div class="dlgAddUserZtree" id="dlgEmergencyAddUserZtree">
    <div class="dlgAddUserZtreeMask"></div>
    <div class="dlgAddUserZtreeBox">
        <div class="dlgAddUserZtreeBoxC">
            <strong class="digTile"><i class="closeUserDig" onclick="closedigUser()"></i>选择紧急呼叫的人</strong>
            <form id="dlgUserZtreeForm2">
                <div id="userEmergencyErrMsg" class="alert alert-warning hidden"></div>
                <div id="userEmergencyLocOrganization" class="user_organization_tree"
                     style="background-color: white">
                    <div class="organization_tree_tittle">
                        组织机构图
                    </div>
                    <input id="sLocSearch3" type="text" value="搜索"
                           onfocus="javascript:if(this.value=='搜索')this.value='';"
                           onblur="javascript:if(this.value=='')this.value='搜索';"
                           onkeyup="searchInLocTree3('sLocSearch3')"
                           class="form-control input-sm">
                    <div id="orgEmergencyLocUserTree" class="ztree"></div>
                </div>
                <div class="selectBox">
                    <h1>当前已选中的人</h1>
                    <div id="userEmergencySelected" class="selectedUserStaff"></div>
                </div>

            </form>
        </div>
        <div class="digUserFooter">
            <button type="button" class="btn btn-default" onclick="closedigUser()" data-dismiss="modal">取消
            </button>
            <button type="button" id="btnEmergencyUserZtreeSave" onclick="saveEmergencyUser()" class="btn btn-primary">确定
            </button>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="page-header container">
        <h1 class="adimiTilte">沱江资阳段洪水风险图管理系统后台
            <small id="t_entName"><%= enterprise.name %></small>
        </h1>
        <a class="btn btn-link logoutLink exit" href="/admin/logout" role="button">退出</a>
        <!--<a href="/gis" class="btn btn-link logoutLink gotofront" role="button">前往前台</a>-->

    </div>
    <div>
        <div class="col-md-3" style="border-right:1px solid #eeeeee;">
            <ul class="nav nav-pills nav-stacked" role="tablist">

                <%
                var systemInfoFlg = 0;
                var userManageFlg = 0;
                var groupManageFlg = 0;
                var positionManageFlg = 0;
                var departmentManageFlg = 0;
                var locationManageFlg = 0;
                var auditManageFlg = 0;
                var pictureManageFlg=0;
                var showFlag = 0;
                if(user.privileges.indexOf("systemInfo") > -1){
                %>
                <li role="presentation" class="active">
                    <%
                        showFlag = 1;
                        systemInfoFlg = 1;
                    %>
                    <a href="#systemInfo" aria-controls="systemInfo" role="tab" data-toggle="tab">系统状态</a>
                </li>
                <% } %>

                <% if(user.privileges.indexOf("userManage") > -1){
                if (showFlag == 0) {
                %>
                <li role="presentation" class="active">
                    <%
                        showFlag = 1;
                        userManageFlg = 1;
                    }else{
                    %>
                <li role="presentation">
                    <%
                    }
                    %>
                    <a href="#userManage" aria-controls="userManage" role="tab" data-toggle="tab">用户管理</a>
                </li>
                <% } %>

                <% if(user.privileges.indexOf("groupManage") > -1){
                if (showFlag == 0) {
                %>
                <li role="presentation" class="active">
                    <%
                        showFlag = 1;
                        groupManageFlg = 1;
                    }else{
                    %>
                <li role="presentation">
                    <%
                    }
                    %>
                    <a href="#groupManage" aria-controls="groupManage" role="tab" data-toggle="tab">群组管理</a>
                </li>
                <% } %>

                <!--this is for position-->
                <% if(user.privileges.indexOf("positionManage") > -1){
                if (showFlag == 0) {
                %>
                <li role="presentation" class="active">
                    <%
                        showFlag = 1;
                        positionManageFlg = 1;
                    }else{
                    %>
                <li role="presentation">
                    <%
                    }
                    %>
                    <a href="#positionManage" aria-controls="positionManage" role="tab" data-toggle="tab">职位管理</a>
                </li>
                <% } %>

                <% if(user.privileges.indexOf("departmentManage") > -1){
                if (showFlag == 0) {
                %>
                <li role="presentation" class="active">
                    <%
                        showFlag = 1;
                        departmentManageFlg = 1;
                    }else{
                    %>
                <li role="presentation">
                    <%
                    }
                    %>
                    <a href="#DepartmentManage" aria-controls="DepartmentManage" role="tab" data-toggle="tab">部门管理</a>
                </li>
                <% } %>

                <% if(user.privileges.indexOf("locationManage") > -1){
                if (showFlag == 0) {
                %>
                <li role="presentation" class="active">
                    <%
                        showFlag = 1;
                        locationManageFlg = 1;
                    }else{
                    %>
                <li role="presentation">
                    <%
                    }
                    %>
                    <a href="#locationManage" aria-controls="locationManage" role="tab" data-toggle="tab">定位管理</a>
                </li>
                <% } %>

                <% if(user.privileges.indexOf("auditManage") > -1){
                if (showFlag == 0) {
                %>
                <li role="presentation" class="active">
                    <%
                        showFlag = 1;
                        auditManageFlg = 1;
                    }else{
                    %>
                <li role="presentation">
                    <%
                    }
                    %>
                    <a href="#AuditManage" aria-controls="AuditManage" role="tab" data-toggle="tab">操作日志</a>
                </li>
                <% } %>

                <!--图片管理   zs-->
                <%
                if(user.privileges.indexOf("positionIcon") > -1){
                if (showFlag == 0) {
                %>
                <li role="presentation" class="active">
                    <%
                        showFlag = 1;
                        pictureManageFlg = 1;
                    }else{
                    %>
                <li role="presentation">
                    <%
                    }
                    %>
                    <a href="#pictManage" aria-controls="pictManage" role="tab" data-toggle="tab">图片管理</a>
                </li>
                <% } %>
                <!--图片管理   zs-->

            </ul>
        </div>

        <div class="col-md-9 tab-content">

            <!--系统状态内容区域-->

            <%
            if(systemInfoFlg){
            %>
            <div id="systemInfo" role="tabpanel" class="tab-pane active">
                <%
                }else{
                %>
                <div id="systemInfo" role="tabpanel" class="tab-pane">
                    <%
                    }
                    %>

                    <div class="col-sm-8 col-sm-offset-2">
                        <table class="table table-striped table-bordered ">
                            <tbody>
                            <tr>
                                <td class="text-right" width="30%">当前管理员</td>

                                <td class="text-left" width="70%">
                                    <a class="btn btn-link logoutLink" href="#" id="changeEntName"
                                       role="button">修改企业名称</a>&nbsp;
                                    <a class="btn btn-link logoutLink" href="#" id="changePwd" role="button">修改密码</a>&nbsp;
                                    <a class="btn btn-link logoutLink" href="#" id="changeKey" role="button">修改密钥</a>&nbsp;
                                    <a class="btn btn-link logoutLink" href="#" id="changeCommander" role="button">修改指挥号</a>&nbsp;
                                    <a class="btn btn-link logoutLink" href="#" id="changeVdeioMode"
                                       role="button">修改清晰度</a>
                                </td>

                            </tr>
                            <tr>
                                <td class="text-right">企业名称</td>
                                <td id="td_entName" class="text-left"><%= enterprise.name %></td>
                            </tr>
                            <tr>
                                <td class="text-right">企业编号</td>
                                <td id="ent_idNumber" class="text-left"><%= enterprise.idNumber %></td>
                            </tr>
                            <tr>
                                <td class="text-right">总用户 [配额]</td>
                                <td class="text-left"><%= enterprise.quota.staff %> 人</td>
                            </tr>
                            <tr>
                                <td class="text-right">预定义组 [配额]</td>
                                <td class="text-left"><%= enterprise.quota.preGroup %> 人</td>
                            </tr>
                            <tr>
                                <td class="text-right">临时组 [配额]</td>
                                <td class="text-left"><%= enterprise.quota.preGroup %> 人</td>
                                <!--<td class="text-left"><%= enterprise.quota.userGroup %> 人</td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--日志查看区域-->
                <%
                if(auditManageFlg){
                %>
                <div id="AuditManage" role="tabpanel" class="tab-pane active">
                    <%
                    }else{
                    %>
                    <div id="AuditManage" role="tabpanel" class="tab-pane">
                        <%
                        }
                        %>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <div class="contentBtnGroup">

                                        开始时间:<input size="19" type="text" class="input-time" id="stDate" value=""
                                                    readonly>
                                        结束时间:<input size="19" type="text" class="input-time" id="edDate" value=""
                                                    readonly>
                                        员工姓名:<input size="19" type="text" class="input-time" id="qryName" value="">
                                        <input type="button" id="queryAuditBtn" class="btn btn-primary" value="查询">

                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <table id="tabAudits" class="table table-striped table-bordered" cellspacing="0"
                                       width="100%">
                                    <thead>
                                    <tr>
                                        <th width="30%">用户名字</th>
                                        <th width="40%">操作时间</th>
                                        <th width="30%">事件名称</th>
                                        <th width="30%">IP地址</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!--用户管理区域-->

                    <%
                    if(userManageFlg){
                    %>
                    <div id="userManage" role="tabpanel" class="tab-pane active">
                        <%
                        }else{
                        %>
                        <div id="userManage" role="tabpanel" class="tab-pane">
                            <%
                            }
                            %>

                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <div class="contentBtnGroup">
                                            <button id="addUser" type="button" class="btn btn-default btn-sm">添加用户
                                            </button>
                                            <button id="importUsers" type="button" class="btn btn-default btn-sm">批量导入用户
                                            </button>

                                            <div id="impFile" style="display: none">
                                                <a href="template/importTemplate.xlsx">下载模板</a>
                                                <input type="file" id="userFile" name="userFile" class="file-loading"
                                                       data-show-preview="false">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">

                                    <table id="tabUsers" class="table table-striped table-bordered" cellspacing="0"
                                           width="100%">
                                        <thead>
                                        <tr>
                                            <th width="10%">用户号码</th>
                                            <th width="10%">用户名字</th>
                                            <th width="10%">电话号码</th>
                                            <!--<th width="15%">邮箱地址</th>-->
                                            <!--<th width="10%">部门</th>-->
                                            <th width="35%">用户权限</th>
                                            <th width="20%">操作</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
<!-- 图片管理-->
                    <%
                    if(pictureManageFlg){
                    %>
                        <div id="pictManage" role="tabpanel" class="tab-pane active">
                            <%
                            }else{
                            %>
                            <div id="pictManage" role="tabpanel" class="tab-pane">
                                <%
                                }
                                %>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <div class="contentBtnGroup">
                                        <button id="addIcon" type="button" class="btn btn-default btn-sm">添加图片
                                        </button>

                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">

                                <table id="tabIcons" class="table table-striped table-bordered" cellspacing="0"
                                       width="100%">
                                    <thead>
                                    <tr>
                                        <th width="10%">图片预览</th>
                                        <th width="10%">图片名称</th>
                                        <th width="10%">编辑图片</th>

                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                        <!--图片管理 zs   -->
                        <!--对讲组管理区域-->
                        <%
                        if(groupManageFlg){
                        %>
                        <div id="groupManage" role="tabpanel" class="tab-pane active">
                            <%
                            }else{
                            %>
                            <div id="groupManage" role="tabpanel" class="tab-pane">
                                <%
                                }
                                %>

                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <div class="contentBtnGroup">
                                                <button id="btnAddGroup" type="button" class="btn btn-default btn-sm">
                                                    添加群组
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <table id="tabGroups" class="table table-striped table-bordered" cellspacing="0"
                                               width="100%">
                                            <thead>
                                            <tr>
                                                <th width="15%">号码</th>
                                                <th width="25%">名称</th>
                                                <th width="15%">成员</th>
                                                <th width="30%">群组描述</th>
                                                <th width="15%">操作</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!--部门管理区域-->

                            <%
                            if(departmentManageFlg){
                            %>
                            <div id="DepartmentManage" role="tabpanel" class="tab-pane active">
                                <%
                                }else{
                                %>
                                <div id="DepartmentManage" role="tabpanel" class="tab-pane">
                                    <%
                                    }
                                    %>

                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                <div class="contentBtnGroup">
                                                    部门管理
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div id="organization" class="organization_tree"
                                                 style="background-color: white">
                                                <div class="organization_tree_tittle">
                                                    组织机构图
                                                </div>
                                                <input id="sSearch" type="text" value="搜索"
                                                       onfocus="javascript:if(this.value=='搜索')this.value='';"
                                                       onblur="javascript:if(this.value=='')this.value='搜索';"
                                                       onkeyup="searchInTree('sSearch')" class="form-control input-sm">
                                                <div id="departmentTree" class="ztree">tree</div>
                                            </div>
                                            <div class="partHeadShowBox">
                                                <div class="partmentHeadShow">
                                                    <!--<h2>添加部门图片</h2>-->
                                                    <!--<div class="addDepartImg" onclick="addImag()"></div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!--定位管理区域-->

                                <%
                                if(locationManageFlg){
                                %>
                                <div id="locationManage" role="tabpanel" class="tab-pane active">
                                    <%
                                    }else{
                                    %>
                                    <div id="locationManage" role="tabpanel" class="tab-pane">
                                        <%
                                        }
                                        %>

                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <div id="locTitle" class="contentBtnGroup">
                                                        定位管理
                                                    </div>
                                                    <div id="locationErrMsg" class="alert alert-warning hidden"></div>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div id="locOrganization" class="locate_organization_tree"
                                                     style="background-color: white">
                                                    <div class="organization_tree_tittle">
                                                        组织机构图
                                                    </div>
                                                    <input id="sLocSearch" type="text" value="搜索"
                                                           onfocus="javascript:if(this.value=='搜索')this.value='';"
                                                           onblur="javascript:if(this.value=='')this.value='搜索';"
                                                           onkeyup="searchInLocTree('sLocSearch')"
                                                           class="form-control input-sm">
                                                    <div id="orgLocTree" class="ztree"></div>
                                                </div>
                                                <div id="locateSeting" class="locateSeting">
                                                    <div id="locateSelected" class="selectedStaff"></div>
                                                    <form id="locateForm">
                                                        <div class="period"><br>
                                                            管控周期: &nbsp;&nbsp;<input type="checkbox" id="setMon" name ="week" onchange="changeCheck();">周一
                                                            &nbsp;&nbsp;<input type="checkbox" id="setQue" name ="week" onchange="changeCheck();">周二
                                                            &nbsp;&nbsp;<input type="checkbox" id="setWen" name ="week" onchange="changeCheck();">周三
                                                            &nbsp;&nbsp;<input type="checkbox" id="setThu" name ="week" onchange="changeCheck();">周四
                                                            &nbsp;&nbsp;<input type="checkbox" id="setFri" name ="week" onchange="changeCheck();">周五
                                                            &nbsp;&nbsp;<input type="checkbox" id="setSat" name ="week" onchange="changeCheck();">周六
                                                            &nbsp;&nbsp;<input type="checkbox" id="setSun" name ="week" onchange="changeCheck();">周日
                                                            &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
                                                            <input type="checkbox" id="setall" name ="week" onclick="checkSetAll();">全选
                                                        </div>
                                                        <div class="controlTime"><br>管控时间:&nbsp;&nbsp;
                                                            开始时间:<input type="text" size="15" readonly
                                                                        id="setStartTime">
                                                            &nbsp;&nbsp;持续时长(小时):<input type="number" min="1" max="24"
                                                                                        id="lastTime">
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox"
                                                                                                       id="locationEnable">立即生效
                                                        </div>
                                                        <div class="period"><br>上传频率:
                                                            &nbsp;&nbsp;<input type="radio" value="14400"
                                                                               name="locateUpd">4小时一次
                                                            &nbsp;&nbsp;<input type="radio" value="7200"
                                                                               name="locateUpd">2小时一次
                                                            &nbsp;&nbsp;<input type="radio" value="3600"
                                                                               name="locateUpd">1小时一次
                                                            &nbsp;&nbsp;<input type="radio" value="0" name="locateUpd">同定位频率
                                                        </div>
                                                        <div class="controlTime"><br>定位频率:
                                                            &nbsp;<input type="radio" value="10" name="locateFeq">10秒&nbsp;
                                                            &nbsp;<input type="radio" value="30" name="locateFeq">30秒&nbsp;
                                                            &nbsp;<input type="radio" value="60" name="locateFeq">1分钟&nbsp;
                                                            &nbsp;<input type="radio" value="180" name="locateFeq">3分钟&nbsp;
                                                            &nbsp;<input type="radio" value="300" name="locateFeq">5分钟&nbsp;
                                                            &nbsp;<input type="radio" value="0" name="locateFeq">自定义&nbsp;
                                                            <input type="number" size="3" onclick="selectCustom()"
                                                                   min="1"
                                                                   max="2400"
                                                                   id="setLocateFeq">&nbsp;分钟
                                                        </div>
                                                        <div align="center" style="height: 58px">
                                                            <div style="height: 10px"></div>
                                                            <!--<button type="reset" id="emptyLoc" class="btn btn-default" onclick="$(':input','#locateForm')-->
                                                                                                                                    <!--.not(':button, :submit, :reset, :hidden')-->
                                                                                                                                    <!--.val('')-->
                                                                                                                                    <!--.prop('checked',false)-->
                                                                                                                                    <!--.prop('selected',false);">-->
                                                                <!--清空-->
                                                            <!--</button>-->
                                                            <button type="button" onclick="saveLoc()" id="saveLocbtn"
                                                                    class="btn btn-primary">保存
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--职位管理区域-->

                                    <%
                                    if(positionManageFlg){
                                    %>
                                    <div id="positionManage" role="tabpanel" class="tab-pane active">
                                        <%
                                        }else{
                                        %>
                                        <div id="positionManage" role="tabpanel" class="tab-pane">
                                            <%
                                            }
                                            %>

                                            <div class="panel panel-info">
                                                <div class="panel-heading">
                                                    <div class="panel-title">
                                                        <div class="contentBtnGroup">
                                                            <button id="btnAddPosition" type="button"
                                                                    class="btn btn-default btn-sm">添加职位
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel-body">

                                                    <table id="tabPositions" class="table table-striped table-bordered"
                                                           cellspacing="0"
                                                           width="100%">
                                                        <thead>
                                                        <tr>
                                                            <th width="20%">名字</th>
                                                            <th width="40%">描述</th>
                                                            <th width="40%">操作</th>
                                                        </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                        <!--系统管理区域-->
                                        <div id="systemManage" role="tabpanel" class="tab-pane">c</div>
                                    </div>
                                </div>

                                <!-- 修改企业名称对话框 -->
                                <div class="modal" id="dlgChangeEntName" tabindex="-1" role="dialog"
                                     aria-labelledby="dlgChangeEntNameTitle">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close"><span
                                                            aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="dlgChangeEntNameTitle">修改企业名称</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form id="dlgChangePwdForm">

                                                    <div class="alert alert-warning hidden"
                                                         id="dlgChangeEntNameInputInvalid"></div>

                                                    <table class="table table-striped table-bordered addGroupTable">
                                                        <tbody>
                                                        <tr>
                                                            <td class="text-right" width="30%">新企业名称</td>
                                                            <td colspan="3" class="text-left" width="70%">
                                                                <input type="text" id="enterpriseName"
                                                                       value="<%= enterprise.name %>"
                                                                       class="form-control input-sm">
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                                </button>
                                                <button type="button" id="btnChangEntName" class="btn btn-primary">保存
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- 修改企业指挥号 -->
                                <div class="modal" id="dlgCommander" tabindex="-1" role="dialog" aria-labelledby="dlgExpCommander">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                            aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="dlgExpCommander">修改指挥账号</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form id="dlgExpForm">
                                                    <div class="alert alert-warning hidden" id="dlgCmdFormInputValid"></div>

                                                    <table class="table table-striped table-bordered addUserTable">
                                                        <tbody>
                                                        <tr>
                                                            <td class="text-right" width="20%">指挥账号&nbsp;</td>
                                                            <td class="text-left" width="30%">
                                                                <input size="20" type="text" id="enpCommander" value="">
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                                <button type="button" id="btnCommanerSave" class="btn btn-primary">保存</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- 修改密码对话框 -->
                                <div class="modal" id="dlgChangePwd" tabindex="-1" role="dialog"
                                     aria-labelledby="dlgChangePwdTitle">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close"><span
                                                            aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="dlgChangePwdTitle">修改密码</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form id="dlgChangePwdForm">

                                                    <div class="alert alert-warning hidden"
                                                         id="dlgChangePwdInputInvalid"></div>

                                                    <table class="table table-striped table-bordered addGroupTable">
                                                        <tbody>
                                                        <tr>
                                                            <td class="text-right" width="20%">当前密码</td>
                                                            <td class="text-left" width="30%">
                                                                <input type="password" id="curPassword"
                                                                       class="form-control">
                                                            </td>

                                                            <td class="text-right" width="20%"></td>
                                                            <td class="text-left" width="30%">
                                                        </tr>
                                                        <tr>
                                                            <td class="text-right" width="20%">新密码</td>
                                                            <td class="text-left" width="30%">
                                                                <input type="password" id="chgNewPassword"
                                                                       class="form-control">
                                                            </td>

                                                            <td class="text-right" width="20%">重复密码</td>
                                                            <td class="text-left" width="30%">
                                                                <input type="password" id="repChgNewPassword"
                                                                       class="form-control">
                                                            </td>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                                </button>
                                                <button type="button" id="btnChangePwd" class="btn btn-primary">保存
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- 添加/编辑 用户对话框 -->
                                <div class="modal" id="dlgAddUser" tabindex="-1" role="dialog"
                                     aria-labelledby="dlgAddUserTitle">
                                    <div class="modal-dialog" style="width: 60%" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close"><span
                                                            aria-hidden="true">&times;</span></button>
                                                <input type="hidden" id="userSaveMode"/>
                                                <input type="hidden" id="nearbyUsers"/>
                                                <input type="hidden" id="emergencyUsers"/>
                                                <h4 class="modal-title" id="dlgAddUserTitle">添加用户</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form id="dlgUserForm">
                                                    <div class="alert alert-warning hidden"
                                                         id="dlgFormInputValid"></div>
                                                    <table class="table table-striped table-bordered addUserTable" style="border: none">
                                                        <tbody>
                                                            <tr>
                                                                <td class="addUserTitle noborder">基本信息</td>
                                                            </tr>
                                                            <tr>
                                                                <td>用户名称</td>
                                                                <td><input type="text" id="userName" class="form-control input-sm"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>电子邮件</td>
                                                                <td><input id="email" class="form-control input-sm"></td>
                                                                <td colspan="1" width="17%" class="text-right">手机号码</td>
                                                                <td width="21%"><input type="number" id="phoneNbr" class="form-control input-sm"></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-center">密码</td>
                                                                <td><input id="pwd" type="password" class="form-control input-sm"></td>
                                                                <td colspan="1" class="text-right">确认密码</td>
                                                                <td class="text-left" width="21%">
                                                                    <input id="repwd" type="password" class="form-control input-sm">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-center" width="12%">部门</td>
                                                                <td class="text-left" width="21%">
                                                                    <select id="departments" class="form-control input-sm">
                                                                        <!--<option>Slower</option>-->
                                                                        <!--<option>Slow</option>-->
                                                                        <!--<option selected="selected">Medium</option>-->
                                                                        <!--<option>Fast</option>-->
                                                                        <!--<option>Faster</option>-->
                                                                    </select>
                                                                </td>
                                                                <td colspan="1" class="text-right">职务</td>
                                                                <td class="text-left" width="21%">
                                                                    <select id="positions" class="form-control input-sm">
                                                                    </select>
                                                                </td>
                                                            </tr>


                                                            <tr>
                                                                <td class="addUserTitle">设备绑定</td>
                                                            </tr>
                                                            <tr>
                                                                <td>绑定设备一</td>
                                                                <td><input type="text" id="device1" class="form-control input-sm"></td>
                                                                <td colspan="1" class="text-right">绑定设备二</td>
                                                                <td width="21%"><input type="text" id="device2" class="form-control input-sm"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>绑定设备三</td>
                                                                <td><input type="text" id="device3" class="form-control input-sm"></td>
                                                                <td colspan="1" class="text-right">绑定设备四</td>
                                                                <td width="21%"><input type="text" id="device4" class="form-control input-sm"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>绑定设备五</td>
                                                                <td><input type="text" id="device5" class="form-control input-sm"></td>
                                                                <td colspan="1" class="text-right">不绑定设备</td>
                                                                <td><input type="checkbox" value="true" id="noDevice" onclick="noDevices()"></td>
                                                            </tr>

                                                            <tr><td class="addUserTitle">权限设置</tr>
                                                            <tr>
                                                                <td style="border:1px solid #ddd" class="haveBorder">权限等级</td>
                                                                <td style="border:1px solid #ddd">
                                                                    <select id="priority" class="form-control">
                                                                        <option value="1">一级</option>
                                                                        <option value="2">二级</option>
                                                                        <option value="3" selected>三级</option>
                                                                        <option value="4">四级</option>
                                                                        <option value="5">五级</option>
                                                                        <option value="6">六级</option>
                                                                        <option value="7">七级</option>
                                                                        <option value="8">八级</option>
                                                                        <option value="9">九级</option>
                                                                    </select>
                                                                </td>

                                                                <td style="border:1px solid #ddd" class="text-right" width="12%">权限->高级</td>
                                                                <td style="border:1px solid #ddd" class="text-left" width="21%">
                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" id="forbidSpeak"
                                                                                   value="true">
                                                                            禁止发言
                                                                        </label>
                                                                    </div>
                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" id="powerInviteAble"
                                                                                   value="powerInviteAble">
                                                                            强拉
                                                                        </label>
                                                                    </div>
                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" id="muteAble"
                                                                                   value="muteAble">
                                                                            免打扰
                                                                        </label>
                                                                    </div>

                                                                    <div class="checkbox">
                                                                        <i class="chosePerson" onclick="showZtree(1)"></i>
                                                                        <label>
                                                                            <input type="checkbox" id="viewMap"
                                                                                   value="viewMap">
                                                                            查看周围的人
                                                                        </label>
                                                                    </div>
                                                                </td>
                                                                <td style="border:1px solid #ddd" class="text-right" width="12%">权限->广播</td>
                                                                <td style="border:1px solid #ddd" class="text-left" width="21%">

                                                                    <div class="checkbox">
                                                                        <i class="chosePerson" onclick="showZtree(2)"></i>
                                                                        <label>
                                                                            <input type="checkbox" id="emergency">
                                                                            紧急呼叫

                                                                        </label>
                                                                    </div>

                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" id="boardcast">
                                                                            系统全呼
                                                                        </label>
                                                                    </div>
                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" id="groupBoardcast">
                                                                            组广播
                                                                        </label>
                                                                    </div>
                                                                </td>
                                                            </tr>

                                                        <tr>
                                                            <td style="border:1px solid #ddd" class="text-right" width="12%">权限->呼出</td>
                                                            <td style="border:1px solid #ddd" class="text-left" width="21%">
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="checkbox" id="privCall"
                                                                               value="call"
                                                                               checked>
                                                                        发起单呼
                                                                    </label>
                                                                </div>
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="checkbox" id="privGroup"
                                                                               value="group"
                                                                               checked>
                                                                        发起临时组
                                                                    </label>
                                                                </div>
                                                            </td>
                                                            <td style="border:1px solid #ddd" class="text-right" width="12%">权限->呼入</td>
                                                            <td style="border:1px solid #ddd" class="text-left" width="21%">
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="checkbox" id="privRecvCall"
                                                                               value="recvCall"
                                                                               checked>
                                                                        接受单呼
                                                                    </label>
                                                                </div>
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="checkbox" id="privRecvGroup"
                                                                               value="recvGroup"
                                                                               checked>
                                                                        接受临时组
                                                                    </label>
                                                                </div>
                                                            </td>
                                                            <td style="border:1px solid #ddd" class="text-right" width="12%">权限->外呼</td>
                                                            <td style="border:1px solid #ddd" class="text-left" width="21%">
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="checkbox" id="callOuter"
                                                                               value="callOuter">
                                                                        发起外呼
                                                                    </label>
                                                                </div>
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="checkbox" id="recvCallOuter"
                                                                               value="recvCallOuter">
                                                                        接受外呼
                                                                    </label>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                                </button>
                                                <button type="button" id="btnUserSave" class="btn btn-primary">保存
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- 添加/编辑 对讲群组对话框 -->
                                <div class="modal" id="dlgAddGroup" tabindex="-1" role="dialog"
                                     aria-labelledby="dlgAddGroupTitle">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close"><span
                                                            aria-hidden="true">&times;</span></button>
                                                <input id="groupSaveMode" type="hidden"/>
                                                <h4 class="modal-title" id="dlgAddGroupTitle">添加群组</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form id="dlgGroupForm">

                                                    <div class="alert alert-warning hidden"
                                                         id="dlgGroupFormInputInvalid"></div>

                                                    <table class="table table-striped table-bordered addGroupTable">
                                                        <tbody>
                                                        <tr>
                                                            <td class="text-right" width="20%">群组名称</td>
                                                            <td class="text-left" width="30%">
                                                                <input type="text" id="groupName"
                                                                       class="form-control input-sm">
                                                            </td>

                                                            <td class="text-right" width="20%">群组描述</td>
                                                            <td class="text-left" width="30%">
                                                                <input type="text" id="groupDesc"
                                                                       class="form-control input-sm">
                                                            </td>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                                </button>
                                                <button type="button" id="btnGroupSave" class="btn btn-primary">保存
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- 对讲群组成员管理对话框 -->
                                <div class="modal" id="dlgGroupMember" tabindex="-1" role="dialog"
                                     aria-labelledby="dlgGroupMemberTitle">
                                    <div class="modal-dialog" style="width:850px;" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close"><span
                                                            aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="dlgGroupMemberTitle">群组成员管理</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="alert alert-warning hidden"
                                                     id="dlgGroupMemberInputInvalid"></div>
                                                <div style="height:100%;overflow: auto">
                                                    <table id="tabGroupMember"
                                                           class="table table-striped table-bordered"
                                                           cellspacing="0"
                                                           width="100%">
                                                        <tbody>
                                                        <thead>
                                                        <tr>
                                                            <th width="30%">用户名</th>
                                                            <th width="40%">电话号码</th>
                                                            <th width="30%">本组成员</th>
                                                        </tr>
                                                        </thead>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                                </button>
                                                <button type="button" id="btnGroupMemberSave" class="btn btn-primary">保存
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- 修改企业视频分辨率 -->
                                <div class="modal" id="dlgVedio" tabindex="-1" role="dialog"
                                     aria-labelledby="dlgVedioTitle">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close"><span
                                                            aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="dlgKeyTitle">修改清晰度</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form id="dlgQuotaForm">
                                                    <input type="hidden" id="hideIdNumber">
                                                    <div class="alert alert-warning hidden"
                                                         id="dlgVedioFormInputValid"></div>

                                                    <table class="table table-striped table-bordered addUserTable">
                                                        <tbody>
                                                        <tr>
                                                            <td class="text-right" width="20%">清晰度&nbsp;</td>
                                                            <td>
                                                                <select id="vedioMode">
                                                                    <option value="HIGH">高清</option>
                                                                    <option value="NORMAL">标清</option>
                                                                    <option value="VGA">VGA</option>
                                                                    <option value="QVGA">QVGA</option>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                                </button>
                                                <button type="button" id="btnVedioSave" class="btn btn-primary">保存
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- 修改企业密钥 -->
                                <div class="modal" id="dlgKey" tabindex="-1" role="dialog"
                                     aria-labelledby="dlgKeyTitle">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close"><span
                                                            aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="dlgKeyTitle">修改密钥</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form id="dlgQuotaForm">
                                                    <input type="hidden" id="hideIdNumber">
                                                    <div class="alert alert-warning hidden"
                                                         id="dlgKeyFormInputValid"></div>

                                                    <table class="table table-striped table-bordered addUserTable">
                                                        <tbody>
                                                        <tr>
                                                            <td class="text-right" width="20%">新密钥&nbsp;</td>
                                                            <td class="text-left" width="30%">
                                                                <input id="newKey" class="form-control input-sm">
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                                </button>
                                                <button type="button" id="btnKeySave" class="btn btn-primary">保存
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- 添加/编辑 部门对话框 -->
                                <div class="modal" id="dlgAddDepartment" title="添加部门">
                                    <!--<p class="validateTips">All form fields are required.</p>-->
                                    <form id="dlgDepartmentForm">
                                        <table class="table table-striped table-bordered addGroupTable">
                                            <div id="errorId">名称长度必须是3-16位的字符或下划线,不能以数字开头</div>
                                            <tbody>
                                            <tr>
                                                <td class="text-right" width="20%">名称</td>
                                                <td class="text-left" width="auto">
                                                    <input type="text" id="departmentName"
                                                           class="form-control input-sm">
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </form>
                                </div>

                                <!-- 添加/编辑 职位对话框 -->
                                <div class="modal" id="dlgAddPosition" tabindex="-1" role="dialog"
                                     aria-labelledby="dlgAddPositionTitle">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close"><span
                                                            aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="dlgAddPositionTitle">添加职位</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form id="uploadImg" enctype="multipart/form-data">

                                                    <div class="alert alert-warning hidden"
                                                         id="dlgPositionFormInputInvalid"></div>

                                                    <table class="table table-striped table-bordered addPositionTable">
                                                        <tbody>
                                                        <tr>
                                                            <td class="text-right" width="20%">名称</td>
                                                            <td class="text-left" width="30%"><input type="text"
                                                                                                     id="positionName"
                                                                                                     name="positionName"
                                                                                                     class="form-control input-sm">
                                                            </td>
                                                            <td class="text-center" width="20%">
                                                                头像<br>（点击右边头<br>像可自定义<br>头像）
                                                            </td>

                                                            <input type="hidden" name="imgData">
                                                            <input type="hidden" name="enterprise"  value=<%=enterprise._id%>>
                                                            <!--<input type="hidden" name="pictureName">-->
                                                            </td>
                                                            <input type="hidden" id="positionSaveMode"
                                                                   name="positionSaveMode"/>
                                                            <input type="hidden" id="positionIcon"/>
                                                            <td class="text-left" width="30%">
                                                                <div id="view"
                                                                     style="margin: 0 auto; width: 100px; height: 100px;">
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-right" width="20%">描述</td>
                                                            <td class="text-left" width="80%" colspan="3">
                                                                <input type="text" id="positionDescription"
                                                                       name="positionDescription"
                                                                       class="form-control input-sm"></td>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                职位头像选择
                                                            </td>
                                                            <td colspan="3">
                                                                <div class="positionImgBox">
                                                                    <!--<img src="http://<%=img_host%>:<%=img_port%>/group1/M00/00/00/eSkWC1jcpIGAd7rSAABpdNraNBI606.png">-->
                                                                    <!--<img src="http://<%=img_host%>:<%=img_port%>/group1/M00/00/00/eSkWC1jcn6KABt_1AABm7MOFW9M222.png">-->
                                                                    <!--<img src="http://<%=img_host%>:<%=img_port%>/group1/M00/00/00/eSkWC1jcogiAYgUMAABsrdgKnKM450.png">-->
                                                                    <!--<img src="http://<%=img_host%>:<%=img_port%>/group1/M00/00/00/eSkWC1jcojyAUrmCAABs2n7EWqA422.png">-->
                                                                    <!--<img src="http://<%=img_host%>:<%=img_port%>/group1/M00/00/00/eSkWC1jcolSAT286AABqnspnDiE310.png">-->
                                                                    <!--<img src="http://<%=img_host%>:<%=img_port%>/group1/M00/00/00/eSkWC1jconKATtKhAAB5T2FfSHk400.png">-->
                                                                    <!--<img src="http://<%=img_host%>:<%=img_port%>/group1/M00/00/00/eSkWC1jco4GAAfhgAABrtMxgZOY283.png">-->
                                                                    <!--<img src="http://<%=img_host%>:<%=img_port%>/group1/M00/00/00/eSkWC1jcoqaAXNIPAABq9HszdDo314.png">-->

                                                                    <img src="/images/positionIcon/1.png">
                                                                    <img src="/images/positionIcon/2.png">
                                                                    <img src="/images/positionIcon/3.png">
                                                                    <img src="/images/positionIcon/4.png">
                                                                    <img src="/images/positionIcon/5.png">
                                                                    <img src="/images/positionIcon/6.png">
                                                                    <img src="/images/positionIcon/7.png">
                                                                    <img src="/images/positionIcon/8.png">

                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr id="clipAreaTr" style="display: none">
                                                            <td colspan="4">
                                                                <div style="margin: 20px; height: 150px;"
                                                                     id="clipArea"></div>
                                                            </td>
                                                        </tr>
                                                        <tr id="buttonTr" style="display: none">
                                                            <td colspan="3" align="center">
                                                                <input size="40px" type="file" id="file">
                                                            </td>
                                                            <td align="center">
                                                                <input type="button" id="clipBtn" value="截取"/>
                                                            </td>
                                                        </tr>

                                                        </tbody>
                                                    </table>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                                </button>
                                                <button type="button" id="btnPositionSave" class="btn btn-primary">保存
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- 添加/编辑 图片对话框-->
                                <div class="modal" id="dlgAddPicture" tabindex="-1" role="dialog"
                                     aria-labelledby="dlgAddPictureTitle">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close"><span
                                                            aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="dlgAddPictureTitle">添加图片</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form id="addImg" enctype="multipart/form-data">

                                                    <div class="alert alert-warning hidden"
                                                         id="dlgPictureFormInputInvalid"></div>

                                                    <table class="table table-striped table-bordered addPictureTable">
                                                        <tbody>

                                                        <tr>
                                                            <td class="text-right" width="20%">名称</td>
                                                            <td class="text-left" width="30%"><input type="text"
                                                                                                     id="pictureName"
                                                                                                     name="pictureName"
                                                                                                     class="form-control input-sm">
                                                            </td>
                                                            <td class="text-center" width="20%">
                                                                头像<br>（点击右边头<br>像可自定义<br>头像）
                                                            </td>
                                                            <input type="hidden" name="imgData" id="imgData1">
                                                            <input type="hidden" id="pictureSaveMode"
                                                                   name="pictureSaveMode"/>
                                                            <input type="hidden" id="pictureIcon"/>
                                                            <input type="hidden" name="enterprise" id="enterprise1" value=<%=enterprise._id%>>
                                                            <td class="text-left" width="30%">
                                                                <div id="view1"
                                                                     style="margin: 0 auto; width: 100px; height: 100px;">
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr id="clipAreaTr1" style="display: none">
                                                            <td colspan="4">
                                                                <div style="margin: 20px; height: 150px;"
                                                                     id="clipArea1"></div>
                                                            </td>
                                                        </tr>
                                                        <tr id="buttonTr1" style="display: none">
                                                            <td colspan="3" align="center">
                                                                <input size="40px" type="file" id="file1">
                                                            </td>
                                                            <td align="center">
                                                                <input type="button" id="clipBtn1" value="截取"/>
                                                            </td>
                                                        </tr>
                                                       </tbody>
                                                    </table>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                                </button>
                                                <button type="button" id="btnPictureSave" class="btn btn-primary">保存
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="position:fixed; bottom:0; left:35%">
                                <span>版权所有&nbsp;&nbsp;成都贤智科技有限公司&nbsp;&nbsp;蜀ICP备16013682号-1</span>
                                <a href="<%=appUrl%>">下载Android端APP</a>
                            </div>
                            <script type="text/javascript">
                                function changeCheck() {
                                    if($('#setMon').is(':checked') && $('#setQue').is(':checked') && $('#setWen').is(':checked') &&$('#setFri').is(':checked')
                                    && $('#setThu').is(':checked') && $('#setSat').is(':checked') && $('#setSun').is(':checked')) {
                                        $('#setall').prop("checked",true);
                                    }else {
                                        $('#setall').prop("checked",false);
                                    }
                                }

                                $("#stDate").datetimepicker({
                                    format: 'yyyy-mm-dd hh:ii',
                                    autoclose: true,
                                    language: 'zh-CN'
                                });
                                $("#edDate").datetimepicker({
                                    format: 'yyyy-mm-dd hh:ii',
                                    autoclose: true,
                                    language: 'zh-CN'
                                });

                                $("#setStartTime").datetimepicker({
                                    startView: 1,
                                    minuteStep: 5,
                                    format: 'hh:ii',
                                    autoclose: true,
                                    language: 'zh-CN'
//                                    startDate: new Date()
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>