<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理账号登录</title>
    <link rel="stylesheet" href="/3rd/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/3rd/bootstrap/dist/css/bootstrap-theme.min.css"/>

    <script type="text/javascript" src="/3rd/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container col-md-3 col-md-offset-4">

    <div class="panel panel-primary">
        <div class="panel-heading">
            云通[CTalk]<SUP>TM</SUP>&nbsp;
            <small>管理员登录</small>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" method="post" action="/admin/login">

                <% if (!(typeof errorMsg === 'undefined')) { %>
                <div class="alert alert-danger" style="padding: 5px 15px;"><%= errorMsg %></div>
                <% } %>

                <div class="form-group  form-group-sm">
                    <label for="inputUserName" class="col-sm-4 control-label">登录号码</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputUserName" name="username"/>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="inputPassword" class="col-sm-4 control-label">密码</label>

                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="inputPassword" name="password"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="submit" class="btn btn-primary">登录</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

</body>
</html>