@charset "UTF-8";

.table > tbody > tr > td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    border: none;
}

.contentBtnGroup {
    margin-bottom: 15px;
    margin-top: 10px;
}

#dlgFormInputValid, #dlgGroupFormInputInvalid, #dlgGroupMemberInputInvalid {
    padding: 5px 15px;
}

.addUserTable, .addGroupTable {
    margin-bottom: 0px;
}

.groupTableLink, .userTableLink, .logoutLink {
    padding: 0px 5px;
}

.logoutLink {
    padding: 0px;
}

.locateSeting {
    margin-left: 310px;
    border: 1px solid #e8e8e8;
}

.selectedStaff {
    overflow: scroll;
    margin-left: 4px;
    margin-right: 4px;
    height: 100px;
    border-bottom: 2px solid #ece7e7;
}

.period {
    margin-left: 4px;
    margin-right: 4px;
    height: 60px;
    background-color: #eeeeee;
    border-bottom: 2px solid #ece7e7;
}

.controlTime {
    margin-left: 4px;
    margin-right: 4px;
    height: 60px;
    border-bottom: 2px solid #ece7e7;
}

.locate_organization_tree {
    float: left;
    margin: 0 0 0 0;
    width: 300px;
    height: 400px;
    overflow: auto;
    border: 1px solid #d8d8d8;
    padding: 0 20px 0 20px;
    border-bottom: 2px solid #d8d8d8;
}

.organization_tree {
    float: left;
    margin: 0 0 0 0;
    width: 320px;
    height: 450px;
    overflow: auto;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.5);
    padding: 0 20px 0 20px;
    border-bottom: 2px solid #d8d8d8;
}

.organization_tree_tittle {
    height: 32px;
    font-size: 13px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    margin: 12px 0 5px 0;
    padding: 0 auto;
    position: relative;
    left: 0px;
    letter-spacing: 0.5px;
    background: #20a8d8;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #1e71d6;
}
#setLocateFeq{
    width: 60px;
}
.input-time{
    color: #8a8585;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 30px;
    padding-left: 10px;
    margin-right: 10px;
}
.input-time:focus{
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.adimiTilte{
    padding-left: 60px;
    margin-top: -10px;
    color: #505050;
}
.nowPwd{
    width: 153px;
    margin: 5px auto;
    padding-left: 35px;
    color: #bbb3b3;
}
.gotofront{
   float: right;
    margin-right: 20px;
}
.exit{
    float: right;
}
.partHeadShowBox{
    height: 380px;
    overflow-y: scroll;
}
.partmentHeadShow{
    border: 1px solid #e8e8e8;
}
.partmentHeadShow h2{
    text-align: center;
    color: #727575;
}
.addDepartImg{
    width: 200px;
    height: 200px;
    background-image: url("../images/addImge.png");
    background-size: 200px 200px;
    margin: 50px auto;
    cursor: pointer;
}
.departMsk{
    display: none;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    padding-bottom: 50px;
    margin-bottom: 2px;
}
.depheadMiN{
    display: none;
    width: 600px;
    height: 500px;
    background-color: #fff;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -250px;
    border-radius: 5px;
}
.headImgBtn{
    position: absolute;
    top: 15px;
    right: 60px;
}
.headImgBtn input{
    margin-right: 40px;
}
.depheadMiN h3{
    padding-left: 20px;
    color: rgba(57, 57, 68, 0.73);
    border-bottom: 1px solid #999;
    padding-bottom: 10px;
}
.imgBox{
    padding: 10px;
    height: 400px;
    overflow-y: scroll;
    padding-left: 60px;
}

.derHeadClose{
    width: 30px;
    height: 30px;
    background-image: url("../images/close2Icon.png");
    background-size: 30px;
    float: right;
    cursor: pointer;
}
.headImgBox{
    padding: 10px;
}
.view{
    width: 130px;
    height: 130px;
    background-color: #000066;
    margin: 10px auto;
}
.viewImg img{
    width: 130px;
    height: 130px;
}
.serchImgeBox{
    padding: 5px;
}
.headBtnBox{
    text-align: center;
    margin: 0 auto;
    width: 80%;
}
.headBtnBox input{
    float: left;
    padding: 2px 5px;
}
#clipArea{
    margin: 20px;
    height: 150px;
    user-select: none;
    overflow: hidden;
    position: relative;
}
.positionImgBox img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.positionImgBox img:hover{
    background-color: #fff;
    opacity: .4;
}
.uploadHeadImg{
    color: #000088;
    cursor: pointer;
}