.addUserTitle{
    color: #286090;
    font-size: 16px;
    padding-bottom: 15px;
}
.basicBox span{
    float: left;
    padding: 5px 10px 0 0px;
}
.adduserInpuStyle{
    width: 143px;
    float: left;
}

.chosePerson{
    display: block;
    width: 20px;
    height: 15px;
    background-image: url("../images/three.png");
    background-size: 20px 15px;
    margin: 4px;
    float: right;
    cursor: pointer;
}
.user_organization_tree{
    float: left;
    width: 300px;
    height: 400px;
    overflow: scroll;
    border: 1px solid #d8d8d8;
    padding: 0 20px 0 20px;
    border-bottom: 2px solid #d8d8d8;
}
.selectedUserStaff{
    overflow: scroll;
    height: 350px;
    margin-left: 10px;
    border-bottom: 2px solid #ece7e7;
}
.selectBox{
    margin-left: 300px;
}
.selectBox h1{
    text-align: center;
}
.dlgAddUserZtreeMask{
    width: 100%;
    height: 900px;
    background-color: #000;
    opacity: .5;
    position: absolute;
}
.dlgAddUserZtree{
    z-index: 9999;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}
.dlgAddUserZtreeBox{
    width: 750px;
    height: 597px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    margin: 30px auto;
    border-radius: 5px;
    position: relative;
    z-index: 2;
}
.digTile{
    font-size: 18px;
    display: block;
    width: 100%;
    height: 60px;
    color: #847e7e;
    line-height: 50px;
    border-bottom: 1px solid #e5e5e5;
}
.dlgAddUserZtreeBoxC{
    padding: 10px;
}
.closeUserDig{
    cursor: pointer;
    float: right;
    width: 30px;
    height: 30px;
    background-image: url("../images/close2Icon.png");
    background-size: 30px;
}
.digUserFooter{
    float: right;
    margin-right: 30px;
}