@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#orgtree_1_ico, #departmentTree_1_ico, #orgLocTree_1_ico {
    background-image: url("../images/index2.png");
    background-size: 16px;
    background-position: 0 0;
}

.ztree li span.button.ico_open {
    background-position: 0;
    background-size: 16px;
    background-image: url("../images/depart.png");
}

.ztree li span.button.ico_close {
    background-position: 0;
    background-size: 16px;
    background-image: url("../images/depart.png");
}

.closeFunIcon {
    width: 20px;
    height: 20px;
    background-size: 20px;
    background-image: url("../images/close2Icon.png");
    position: absolute;
    top: 12px;
    right: 10px;
    cursor: pointer;
    z-index: 999;
}

.mainBox {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    /*display: -webkit-box;*/
    display: flex;
    -webkit-box-orient: vertical; /* 默认横向划分  vertical 为纵向划分*/
}

.mainBottomContainer {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: relative;
    -webkit-box-flex: 1;
    flex: 1;
    /*display: -webkit-box;*/
    /*-webkit-box-orient: vertical;!* 默认横向划分  vertical 为纵向划分*!*/
    top: 40px;
}

/*.mainLeftContainer{*/
/*float: left;*/
/*width: 300px;*/
/*height: 100%;*/
/*background: #fff;*/
/*border-right: 1px solid #efecec;*/
/*-webkit-box-flex: 1;*/
/*display: -webkit-box;*/
/*-webkit-box-orient:vertical;!* 默认横向划分  vertical 为纵向划分*!*/
/*}*/
.mainLeft {
    float: left;
    width: 300px;
    height: 100%;
    background: #fff;
    border-right: 1px solid #efecec;
    /*-webkit-box-flex: 1;*/
    display: -webkit-box;
    -webkit-box-orient: vertical; /* 默认横向划分  vertical 为纵向划分*/
    /*z-index: 2;*/
}

.mainRight {
    /*float: left;*/
    height: 100%;
    width: 100%;
    /*margin: 0 0 0 300px;*/
    background: #ccc;
}

.mainBottom {
    width: 100%;
    position: absolute;
    padding-left: 300px;
    bottom: 0;
}

#allmap {
    position: relative;
    height: 100%;
    top: 0px;
    bottom: 0px;
    margin: 0 0 0 0;
}

.commandStyle {
    background: #fb5b0c;
    box-shadow: 1px 1px 2px #f11818;
    color: #fff;
}

.leftTop {
    top: 0;
    left: 0;
    position: relative;
    width: 250px;
    height: 35px;
    background: #5fb1fa;
    color: #fff;
    font-size: 13px;
    line-height: 35px;
    background-image: url("../images/leftTop.png");
    background-size: 250px 35px;
    padding-left: 10px;
}

.leftTop span {
    display: block;
    position: absolute;
    cursor: pointer;

}

.loginPersn {
    top: 15px;
    height: 20px;
    width: 20px;
    right: 65px;
}

.loginPersn img {
    width: 20px;
    height: 20px;
    margin-top: -20px;
    border-radius: 50%;
}

.personInfor img {
    width: 20px;
    height: 20px;
    margin: -7px 0 0 15px;
}

.leftExit {
    top: 20px;
    height: 13px;
    width: 20px;
    right: 45px;
    display: block;
    position: absolute;
    cursor: pointer;
}

.backmanage {
    top: 20px;
    height: 13px;
    width: 40px;
    right: 2px;
}

.personInfor {
    display: none;
    width: 180px;
    height: 60px;
    position: absolute;
    top: 35px;
    left: 20px;
    background: #fff;
    z-index: 2;
    border: 1px solid #dad8d8;
    color: #a2a1a1;
}

.userInfor:hover .personInfor {
    display: block;
}

.sayHi {
    top: 0px;
    left: 40px;
}

.laseLogiTime {
    top: 25px;
    position: absolute;
    font-size: xx-small;
    padding-left: 7px;
}

.lastTime {
    top: 0px;
    left: 90px;
}

.input-peopel {
    display: block;
    width: 140px;
    height: 25px;
    color: #bbb3b3;
    position: absolute;
    right: 2px;
    top: 2px;

}

.serchIconIng {
    display: block;
    width: 25px;
    height: 25px;
    background: url("../images/serchIcon.png");
    background-size: 25px 25px;
    position: absolute;
    right: 2px;
    top: 2px;
}

.userNum {
    padding: 5px;
    float: left;
}

.treeMaxBox {
    clear: both;
    /*overflow: scroll;*/
    width: 100%;
    height: 100%;
    -webkit-box-flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    border: hidden;
    /*float: left;*/
    /*position: absolute;
    top: 170px;*/
}

.allPerson {
    font-size: 16px;
    color: #b3b3b3;
    font-weight: bold;
    width: 100%;
    border-bottom: 1px solid #eaebec;
    line-height: 30px;
    height: 30px;
}

.allPersonIcon {
    display: block;
    width: 30px;
    height: 30px;
    background: url("../images/allpersonIcon.png");
    background-size: 30px 30px;
    float: right;
    margin-right: 20px;
    margin-top: -5px;
}

.personState {
    width: 100%;
    height: 30px;
}

.personStateBox {
    width: 100%;
    /*margin-bottom: 5px;*/
    /*margin-left: 10px;*/
    margin-top: 5px;
    color: #888383;
    font-size: 10px;
    float: left;
}

.personStateBox div {
    /*margin-top: 10px;*/
}

.personStateBox i {
    width: 14px;
    height: 14px;
    display: block;
    background-size: 14px;
    margin-right: 2px;
    float: left;
    margin-top: 3px;
}

.allpersonBox {
    cursor: pointer;
    width: 120px;
    float: left;
}

.personOnline {
    float: left;
    margin-right: 2px;
    cursor: pointer;
}

.funModule {
    float: left;
    width: 100%;
}

.personOnline span {
    color: #fe5b0c;
}

.personNotOnline {
    float: left;
    cursor: pointer;
    margin-left: 4px;
}

.chosePerson {
    float: left;
    margin-left: 4px;
    cursor: pointer;
    line-height: 20px;
}

.onlineIcon {
    background: url("../images/online.png");
}

.notOnlineIcon {
    background: url("../images/notOnline.png");
}

.chosePersIcon {
    background: url("../images/choseperon.png");
}

#orgtree {
    /*position: absolute;*/
    /*top: 0px;*/
    height: 100%;
    /*padding: 10px 0 0 50px;*/
}

.userTree {
    height: 170px;
    position: relative;
    top: 0px;
    width: 100%;
    /*overflow: scroll;*/
    float: left;
}

.userTree h5 {
    background-color: #e97172;
    padding: 5px;
}

.predefindeGroups h5 {
    background-color: #e97172;
    padding: 5px;
}

.predefindeGroups h5 input {
    margin: 3px 10px 0 10px;
}

.treeBox {
    overflow: auto;
    width: 270px;
    position: absolute;
    height: 100%;
    top: 10px;
}

.sidebar-nav {
    float: left;
    width: 100%;
}

.predefindeGroups {
    /*position: absolute;*/
    left: 20px;
    width: 100%;
    top: 430px;
    /*height: 110px;*/
}

.predefindeGroupsBox {
    width: 100%;
    /*position: absolute;*/
    height: 250px;
    top: 40px;
}

#dashboard-menu li, #menu-menu li {
    padding-left: 60px;
}

.sidebar-nav2 li a {
    color: #393939;
}

#newsRemid {
    position: relative;
}

#preGroup {
    transform: rotate(-90deg);
}

.newsRemid {
    position: absolute;
    width: 30px;
    height: 30px;
    background-size: 30px;
    background-image: url("../images/newInforIcon.png");
    top: -17px;
    right: -15px;
    line-height: 30px;
    text-align: center;
}

.leftZoomclose {
    position: absolute;
    top: 50%;
    left: 290px;
    background: url("../images/zoom.png");
    margin-left: -10px;
    cursor: pointer;
    z-index: 2;
    width: 14px;
    height: 20px;
    background-size: 14px 20px;
}

.leftOpenBack {
    width: 14px;
    height: 100%;
    position: absolute;
    background: rgba(255, 255, 255, 0.72);
    z-index: 2;
    display: none;
}

.leftZoomopen {
    display: none;
    position: absolute;
    left: 0;
    top: 50%;
    background: url("../images/zoom.png");
    transform: rotate(180deg);
    width: 14px;
    height: 20px;
    background-size: 14px 20px;
    cursor: pointer;
    z-index: 2;
}

.rightTop {
    position: absolute;
    top: 0;
    left: 250px;
    z-index: 2;
}

.moveIcons {
    display: block;
    position: absolute;
    background-image: url("../images/moveIcon.png");
    background-size: 20px;
    width: 20px;
    height: 20px;
    right: -10px;
    bottom: -45px;
    z-index: 2;
}

#operator > div {
    padding-right: 10px;
    height: 35px;
    background: #fff;
    float: left;
    text-align: center;
    line-height: 35px;
    color: #7c7c7d;
    box-shadow: 2px 1px 4px #848486;
    cursor: pointer;
    margin-right: 5px;
}

.headOperaIcon {
    display: block;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    float: left;
    margin: 6px 5px 0 5px;
}

.operIcon {
    background-image: url("../images/mapOperaIcon.png");
}

.callIcon {
    background-image: url("../images/callIcon.png");
}

.clearIcon {
    background-image: url("../images/clearIcon.png");
}

.realIcon {
    background-image: url("../images/realTraceIcon.png");
}

.replayIcon {
    background-image: url("../images/repalyRolIcon.png");
}

.commandIcon {
    background-image: url("../images/commandIcon.png");
}

.celectIcon {
    background-image: url("../images/selectIcon.png");
}

.groupIcon {
    background-image: url("../images/groupIcon.png");
}

.mapOper:hover .mapOperNav {
    display: block;
}

.callOper:hover .callOperNav {
    display: block;
}

.downIcon {
    display: block;
    width: 10px;
    height: 10px;
    background-size: 10px 10px;
    float: right;
    margin: 12px 5px 0 5px;
    background-image: url("../images/down.png");
}

.mapOperNav {
    display: none;
    width: 116px;
    background: #fff;
    position: absolute;
    box-shadow: 2px 1px 4px #848486;
}

#operator li {
    float: left;
    border-bottom: 1px solid #d2caca;
    height: 30px;
    width: 90%;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    margin-left: 5%;
}

#operator li i {
    display: block;
    width: 17px;
    height: 17px;
    background-size: 17px 17px;
    float: left;
    position: absolute;
    left: 13px;
    margin-top: 7px;
}

.searchNavIcon {
    background-image: url("../images/serchNavIcon.png");
}

.measureIcon {
    background-image: url("../images/testlongIcon.png");
}

.markNavIcon {
    background-image: url("../images/sigoIcon.png");
}

.barrierNavIcon {
    background-image: url("../images/weilanIcon.png");
}

/*#operator li:hover{*/
/*background-color: #f7f4f4;*/
/*}*/
.callOperNav {
    display: none;
    width: 88px;
    background: #fff;
    position: absolute;
    box-shadow: 2px 1px 4px #848486;
}

.tvViewIcon {
    background-image: url("../images/viewIcon.png");
}

.tvSayIcon {
    background-image: url("../images/sayIcon.png");
}

#commandModeDiv {
    display: none;
    width: 250px;
    height: 250px;
    background: #fff;
    position: absolute;
    top: 40px;
    left: 650px;
    border-radius: 4px;
    box-shadow: 1px 2px 10px #666;
}

.commandcloseBtn {
    position: absolute;
    right: 5px;
    top: 0px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    text-align: center;
}

.commandModeDivBox {
    padding: 10px;
}

.command_title {
    text-align: left;
    font-size: 14px;
    color: #808080;
}

.comman {
    width: 100%;
    border-bottom: 1px solid #c3bdbd;
}

.command_title img {
    float: right;
}

.commandChose {
    text-align: center;
    color: #615353;
    height: 45px;
}

#commandEndTime {
    padding-left: 20px;
    color: #fb5a0c;
}

.commandChose input {
    margin: 15px 2px 5px 5px;
}

.commanParam {
    width: 100%;
    padding: 10px 0;
}

.commanParamBox {
    color: #615353;
    line-height: 30px;
    text-align: left;
    font-size: 14px;
    padding: 10px 0px;
}

.commanParamBox input {
    border: 1px solid rgba(154, 166, 171, 0.68);
    box-shadow: 1px 1px 1px rgba(110, 113, 113, 0.27);
    color: rgba(0, 0, 0, 0.61);
    border-radius: 2px;
    margin: 0 7px;
    height: 20px;
    padding-left: 4px;
}

#commandErrorMsg {
    padding-left: 10px;
    color: #fb5a0c;
    font-size: 12px;
}

#commandApply {
    color: #fff;
    background-color: #5fb1fa;
    cursor: pointer;
    font-weight: 400;
    line-height: 1.42857143;
    border: 1px solid rgba(82, 153, 224, 0.97);
    border-radius: 4px;
    width: 60px;
    height: 29px;
    margin: 0 auto;
}

#commandApply:hover {
    color: #fff;
    background-color: #286090;
    border-color: #447298;
}

.commanParam {
    text-align: center;
}

.rePlay {
    background: #fff;
    width: 100%;
    height: 200px;
    float: left;
    overflow: hidden;
    display: none;
}

.rePlay_left {
    width: 300px;
    height: 100%;
    float: left;
    position: relative;
    padding: 10px;
    border-right: 1px solid #bbb6b6;
    align: center;
}

.selected_staff_area {
    margin-left: 5px;
    height: 85px;
}

.nochose {
    color: #fb5a0c;
    width: 95%;
    display: block;
    font-size: 19px;
}

.replayTitle {
    color: #9da0a7;
    width: 95%;
    display: block;
    font-size: 14px;
}

.replaySelectedStaff {
    height: 50px;
    overflow-y: scroll;
    box-shadow: 1px 2px 1px #d2cdcd;
    width: 276px;
    margin-top: 5px;
    border-top: 1px solid #d8cccc;
    border-left: 1px solid #d8cccc;
}

.checkBoxs {
    width: 280px;
    height: 30px;
    position: absolute;
    top: 100px;
    left: 10px;
    line-height: 30px;
    border-bottom: 1px solid rgba(115, 112, 112, 0.25);
    padding-left: 7px;
    color: #827e7e;
}

.choseNum {
    width: 50px;
    padding-left: 5px;
}

#exportNow {
    margin-left: 10px;
}

.selected_time_area {
    margin-left: 5px;
    background: url(../images/rili2.png) no-repeat 54% 7px;
    background-size: 20px 10px;
    height: 30px;
    margin-top: 40px;
}

.riliLogo {
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    background-image: url(../images/riliLogo.png);
    background-size: 20px 20px;
    margin-left: -5px;
    margin-right: 5px;
}

.rili, .rilitow {
    float: left;
    border: 1px solid rgba(154, 166, 171, 0.68);
    box-shadow: 1px 1px 1px rgba(110, 113, 113, 0.27);
    color: rgba(0, 0, 0, 0.61);
}

.rilitow {
    margin-left: 20px;
}

.palyBtn {
    width: 290px;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 5px;
}

.palyBtn span {
    display: block;
    width: 40px;
    height: 30px;
    box-shadow: rgba(0, 0, 0, .3) 0 0 10px;
    float: left;
    text-align: center;
    line-height: 30px;
    margin-top: 10px;
    border: 1px solid rgba(103, 98, 98, 0.3);
    cursor: pointer;
}

#exportBtn {
    width: 50px;
}

#replaySelectedStaff input {
    padding: 2px;
    font-size: 10px;
    margin-top: 5px;
}

.allPath {
    width: 100%;
    padding-left: 300px;
}

.admin_data_table {
    width: 98%;
}

.admin_data_table .table {
    border: none;
    margin-bottom: 0;
    border-bottom: 1px solid #8d8f94;
}

.table_title {
    overflow-y: scroll;
    height: 170px;
    overflow-x: hidden;
}

.closeReplay {
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    line-height: 30px;
    top: 0px;
    position: absolute;
    right: 0px;
}

.closeReplay img {
    width: 30px;
    height: 30px;
}

.shirinkBtn {
    top: -15px;
    left: 50%;
    width: 24px;
    height: 30px;
    position: absolute;
    background-image: url(../images/zoom.png);
    transform: rotate(270deg);
    background-size: 24px 30px;
    cursor: pointer;
    margin-left: 150px;
    z-index: 1;
}

.authorize {
    width: 100%;
    height: 20px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0px;
    display: block;
    z-index: 2;
    padding-left: 5px;
}

.stretchBtn {
    top: -15px;
    left: 50%;
    width: 16px;
    height: 20px;
    position: absolute;
    background-image: url(../images/zoom.png);
    transform: rotate(90deg);
    background-size: 16px 20px;
    cursor: pointer;
    margin-left: -100px;
    z-index: 1;
}

.commandHover {
    background-color: rgb(243, 129, 67);
}

.commandHover2 {
    background-color: #f7f4f4;
}

.serchMapBox {
    display: none;
    position: absolute;
    top: 60px;
    left: 170px;
    width: 270px;
    margin-top: 20px;
}

.serchmapIcon {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url("../images/serchIcon2.png");
    background-size: 20px;
    margin: 7px;
}

.mapserchInput {
    padding-left: 30px;
}

.ztreeOnlieNameStyle {
    color: red;
}

.ztreeOnlieHeadStyle {
    opacity: 1;
}

.ztreeNotOnlieNameStyle {
    color: #a7a2a2;
}

.ztreeNotOnlieHeadStyle {
    opacity: .5;
}

.mouseSelect {
    width: 1099px;
    height: 423px;
    top: 0px;
    left: 250px;
    display: none;
    opacity: .5;
    z-index: 3;
    position: absolute;
    background: #000;
}

.palyBtnHover span {
    display: none;
    border: 1px solid #e4e1e1;
    position: absolute;
    background: #fff;
    bottom: 35px;
    color: #949292;
}

.lastpersonH {
    left: 1px;
}

.speedbackH {
    left: 35px;
}

.startplayH {
    left: 80px;
}

.endpalyH {
    left: 120px;
}

.speedFFH {
    left: 150px;
}

.nextpersonH {
    left: 205px;
}

.exitfileH {
    left: 240px;
}

#tracedetailtable > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: none;
    border-bottom: 1px solid #dbdde0;
}

.removechoiseZtree {
    width: 10px;
    height: 10px;
    display: block;
    background-image: url("../images/close2Icon.png");
    background-size: 10px;
}

.mainTop {
    width: 100%;
    height: 40px;
    background-color: #d03030;
    /*position: absolute;*/
    /*z-index: 3;*/
    /*top: 0;*/
}

.topBox {
    width: 100%;
    height: 100%;
    /*padding: 0 20px;*/
    margin: 0 auto;
}

.topMenu {
    width: 40px;
    height: 40px;
    background-image: url("../images/menu.png");
    background-size: 40px;
    float: left;
    margin-right: 15px;
    /*margin-top: 5px;*/
    cursor: pointer;
    margin-left: 25px;
}

.topLeft ul {
    /*padding-left: 100px;*/
    /*margin-bottom: 0px;*/
    /*margin-right: 60px;*/
}

.topLeft ul li {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    float: left;
    margin: 9px 0px;
}

/*.menuHBox{*/
/*display: none;*/
/*position: absolute;*/
/*width: 105px;*/
/*top: 50px;*/
/*background-color: #d03030;*/
/*text-align: center;*/
/*left: 0;*/
/*}*/
.MenuBox {
    height: 100%;
    width: 75px;
    float: left;
    margin-right: 20px;
    /*position: fixed;*/
    /*right: 40px;*/
    /*z-index: 5;*/
}

/*.menuHBox a{*/
/*color: #fff;*/
/*font-size: 16px;*/
/*padding:10px 15px;*/
/*display: block;*/
/*text-decoration: none;*/
/*}*/
/*.menuHBox a:hover{*/
/*background-color: #d25a5a;*/
/*}*/

.selectsBox, .showsBox, .mapOperBox {
    margin-left: 20px;
    width: 80px;
    height: 40px;
    float: left;
}

.mapOperBox {
    width: 95px;
}

.selectHBox, .mapOperHBox, .showHBox, .menuHBox {
    display: none;
    position: fixed;
    width: 95px;
    top: 40px;
    border: 1px solid #c5c5c5;
    background-color: #f6f6f6;
    text-align: center;
    z-index: 5;
}

.showHBox {
    width: 290px;
    height: 260px;
}

.menuHBox a, .leftUl a {
    color: black;
    font-size: 14px;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.menuHBox a:hover, .leftUl a:hover {
    background-color: #007fff;
    color: white;
}

.oranizatBox {
    display: block;
    height: 100%;
    position: relative;
}

.systemBox {
    display: none;
}

.talksBox {
    display: none;
    /*position: absolute;*/
    /*bottom: 80px;*/
    /*top: 60px;*/
    /*width: 280px;*/
}

#oranizatStruct {
    background-color: #f90808;
}

.systemInfor {
    margin-top: 10px;
}

.systemInfor div {
    border-bottom: 1px solid #dcd6d6;
    padding-left: 10px;
    margin-top: 6px;
}

.systemInfor div span {
    font-size: 12px;
    margin-left: 10px;
}

#systemUl {
    padding: 10px 10px 0 10px;
}

.systemUserTree {
    position: absolute;
    top: 230px;
    bottom: 35px;
    left: 20px;
    width: 260px;
}

.talksBox ul {
    padding: 10px;
}

.talksBox ul li {
    height: 40px;
    float: left;
    width: 100%;
    border-bottom: 1px solid #e5e7e8;
}

.talksBox ul li p {
    float: right;
    line-height: 20px;
    font-size: 12px;
}

.talksBox ul li i {
    float: left;
    width: 40px;
    height: 40px;
    display: block;
    background-color: #0e41ec;
}

.talksBox ul li div {
    float: left;
    padding-left: 10px;
}

.talksBox ul li div span {
    font-size: 12px;
    color: #a9a4a4;
}

.sidebar-nav i {
    transform: rotate(0deg);
    display: block;
    width: 16px;
    height: 16px;
    background-size: 16px;
    background-image: url("../images/down3.png");
    float: left;
    margin: 6px 10px;
}

.sidebar-nav input {
    margin: 0 10px;
}

.theTreeTitle {
    background-color: #e97172;
    height: 30px;
    line-height: 30px;
    float: left;
    width: 100%;
}

#systemList a {
    padding: 0;
    display: inline;
}

.theTreeTitleFont {
    color: #2d2c2c;
    text-decoration: none;
    font-weight: bold;
}

.sidebar-nav li {
    padding-left: 30px;
}

.theTreeTitle a {
    text-decoration: none;
}

#dashboard-menu2 a {
    text-decoration: none;
}

#menu-menu2 a {
    text-decoration: none;
}

.onAlarmIcon {

    display: block;
    width: 40px;
    height: 40px;
    background-image: url(../images/alarm.gif);
    background-size: 40px;
}

.loggingserchBtn {
    margin-top: 10px;
}

.conversationBox {
    width: 100%;
    height: 100%;
    /*position: absolute;*/
    background-color: #f1f2f3;
    /*background-image: url("../images/chatBg.png");*/
    box-shadow: 1px 1px 16px 3px #787b78;
}

.conversationBox iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.conversationMain {
    position: absolute;
    width: 500px;
    height: 560px;
    z-index: 4;
    top: 6%;
    left: 33%;
}

.intercomCallBox {
    width: 100%;
    position: absolute;
    z-index: 5;

}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.myselfMain {
    background-color: #fff;
    position: absolute;
    width: 700px;
    height: 560px;
    z-index: 4;
    top: 6%;
    left: 30%;
}

.myselfBox {
    width: 280px;
    height: 100%;
    position: absolute;
    z-index: 5;
    float: left;
}

.setBox {
    width: 430px;
    height: 100%;
    float: right;
}

#collapseListGroupHeading1, #collapseListGroupHeading2 {
    background-color: #e97172;
}

.panel-primary {
    border-color: #e97172;
}

#collapseListGroup1 {
    position: absolute;
    width: 100%;
    bottom: 70px;
    top: 50px;
    overflow: auto;
}

.preGroups {
    position: absolute;
    width: 100%;
    bottom: 30px;
}

.ui-draggable-iframeFix {
    border: 3px solid #A29B9B;
    z-index: 999999 !important;
}

/* 强制一个高度，这样标签页就不会随着内容高度的改变而改变 */
#tabs .tabs-spacer {
    float: left;
    height: 200px;
}

.tabs-bottom .ui-tabs-nav {
    clear: left;
    /*padding: 0 .2em .2em .2em;*/
    /*padding-left: 12px;*/
    /*background-color: rebeccapurple;*/
}

.tabs-bottom .ui-tabs-nav li {
    top: auto;
    bottom: 0;
    margin: 0;
    width: 96px;
    border-bottom: auto;
    border-top: 0;
}

.tabs-bottom .ui-tabs-nav li.ui-tabs-active {
    margin-top: -1px;
    padding-top: 1px;
}

.tabs-panel {
    -webkit-box-flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    padding: 10px 0 2px 0
}

.mainBackGroundColor {
    border: 1px solid #c5c5c5;
    background-color: #0943c7;
    position: absolute;
}

.waterStateBackGroundColor {
    background-color: #003EFF;
    color: #FFFFFF
}